.vscode/**
.vscode-test/**
src/**
**/*.map
**/*.ts
!out/**
tsconfig.json
package-lock.json
eslint.config.mjs
.gitignore
.github/**
node_modules/sqlite-electron/python/share/terminfo/**
node_modules/sqlite-electron/python/share/**
node_modules/sqlite-electron/python/**
